<div class="hero-unit">
	<h1>Welcome to Tony's Home Page!</h1>
	<p>
		You've landed on the home page of Tony
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	</p>

	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>


